@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
}
.sidebar-wrapper{
    background-color: rgb(14 165 233);
    height:100vh;
    color:white;
    font-family: 'Roboto', sans-serif;
}
.grid{
    display:grid;
    grid-template-columns: 20% 80%;
}
.main-content-wrapper{
    display: grid;
    background-color: white;
    grid-template-rows:25% 75%;
}
.comments{
    background-color: rgb(229 231 235);
}
.nav-wrapper{
    display: flex;
    flex-direction:column;
    margin-top:20px;
}
.nav-item{
    display:flex;
    padding:10px;
    margin-left:30px;
    margin-top:10px;
    font-size:13px;
}
.dashboard-icon .dash {
   margin-top:6px;
}
.dashboard-wrapper{
    display:flex;
    padding:10px;
    margin-left:25px;
}
.inner-nav2{
    margin-top:20px;
}
.nav-h2{
    margin-left:10px;
}
.top-bar{
    display: flex;
    margin-left:30px;
    margin-top:20px;
}
.search-bar{
    width:60%;
    margin-top:10px;
    height:25px;
    border-radius:20px;
    margin-left:20px;
    background-color: rgb(226 232 240);
    border:none;
}
.search-wrapper .material-symbols-outlined.search{
    margin-top:10px;
    
}
.material-symbols-outlined.notifications{
    margin-left:10%;
    font-size:25px;
    margin-top:12px;
}
.prof-pic{
    margin-left:2%;
}
h6{
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    margin-left:4%;
    margin-top:18px;
}
.bottom-of-top{
    display:flex;
    font-family: 'Roboto', sans-serif;
    margin-left:4%;
}
.text-wrapper-mike{
    margin-left:20px;
    position:relative;
    margin-top:30px;
}
.intro-p{
    font-size:20px;
}
.intro-h3{
    font-size:25px;
}
.button-wrapper{
    position: relative;
    left:35%;
}

.new,.upload,.share{
    font-family: 'Roboto', sans-serif;
    background-color: #0ea5e9;
    border:none;
    border-radius:20px;
    width:100px;
    height:40px;
    color:white;
    margin-right:10px;
    font-size:17px;
    margin-top:45px;
}
.comments-div-wrapper{
    display: grid;
    grid-template-columns:repeat(2,350px);
    gap:40px;
    width: 63%;
    height:80%;
    margin-top:50px;
    margin-left:70px;
}
.text-wrapper{
    background-color: white;
    border-left:5px solid #fdba74;
    border-radius:10px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    
}
.grid-h2, .grid-p{
    margin-left:20px;
    margin-top:5px;
}
.icon-wrapper-comments{
    font-size:15px;
    margin-left:250px;
}
